.header{
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    width: 100%;
    z-index: 99;
    .navbar{
        max-width: 1024px;
        margin: 0 auto;
        padding: 16px 42px;
        display: flex;    
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        background-image: url(../image/logo_w@svg.svg);
        display: block;
        width: 120px;
        height: 24px;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
    }
    .menu{
        display: flex;
        justify-content: space-between;
        a{
            color: $white;
            font-size: $fz-16;
            padding: 17px 15px;
            &:hover{
                border-bottom: 2px solid $white;
            }
        }
    }
}
.menu-bar{
    display: none;
    color: $white;
    font-size: $fz-24;

}
@media (max-width:767px){
    .header{
        .navbar{
            position: relative;
        }
        .menu{
            flex-direction: column;
            background: rgba(0, 0, 0);
            text-align: center;
            position: absolute;
            z-index: 99;
            top: 68px;
            left: -42px;
            right: -42px;

            max-height: 0;
            overflow: hidden;
            transition: ease 0.5s;
            li{
                border-bottom: 1px solid gray;
            }
            a{
                display: block;
                &:hover,&:focus{
                    border-bottom: none;
                    background: gray;
                }
            }
        }
        .menu.show{
            max-height: 500px;
        }
    }
    .menu-bar{
        display: block;
    }
}
.banner{
    background-image: url(../image/header_desktop.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: black;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    .slogan{
        padding: 20px 22px;
        background: rgba(0,0,0,0.35);
        color: $white;
        text-align: center;
        .slogan-pc,.slogan-mb{
            font-size: $fz-36;
            margin-bottom: 16px;
        }
        .slogan-mb{
            display: none;
        }
        p{
            font-size: $fz-16;
        }
    }
    
}
@media (max-width:375px){
    .banner{
        background-image: url(../image/header_mobile.png);
        .slogan{
            .slogan-mb{
                display: block;
            }
            .slogan-pc{
                display: none;
            }
        }
    }
}