.login-content{
    max-width: 1024px;
    margin: 0 auto;
}
.login-title{
    color: $color;
    font-size: $fz-48;
    text-align: center;
    line-height: 1;
    font-weight: bold;
}
.login-subtitle{
    color: $color;
    font-size: $fz-20;
    text-align: center;
    margin-bottom: 35px;
}
.login-section{
    padding-top: 50px;
}
.login{
    margin: 0 auto;
    padding: 15px;
    width: 300px;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
    border-top: 3px solid $orange;
    color: $color;
    h3{
        color: $color;
        font-size: $fz-18;
        text-align: center;
        margin-bottom: 16px;
        font-weight: bold;
    }
}
.login-email,.login-password{
    position: relative;
}
.login-label,.login-input{
    display: block;
    width: 100%;
}
.login-label{
    font-size: $fz-16;
}
.login-input{
    font-size: $fz-16;
    padding: 7px 7px 7px 35px;
    margin-bottom: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    box-shadow: inset 0px 1px 0px 0px #ECECEC;
    &:focus{
        outline: 1px solid $orange;
    }
}
.i-absolute{
    position: absolute;
    top: 33px;
    left: 14px;
}
.forget-password{
    font-size: $fz-14;
    color: $orange;
    display: block;
    margin-top: -15px;
    &:hover{
        color: gray;
    }
}
.login-btn{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.login-signup,.login-login{
    width: 125px;
    height: 32px;
    color: $white;
    font-size: $fz-14;
    padding: 6px;
    text-align: center;
    background: rgba(0,0,0,0.35);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    &:hover{
        opacity: 0.8;
    }
}
.login-login{
    background: $orange ;
}